video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.block-advice{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: beige;
  margin-top: 200px;
}
.style-advice{
  font-size: 45px;
  font-family: 'Jura', sans-serif;
  text-align: center;
}
.style-button{
  font-family: 'Trirong', serif;
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #FFFFFF);
  background-image: -moz-linear-gradient(top, #000000, #FFFFFF);
  background-image: -ms-linear-gradient(top, #000000, #FFFFFF);
  background-image: -o-linear-gradient(top, #000000, #FFFFFF);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #FFFFFF;
  padding: 15px;
  -webkit-box-shadow: 1px 2px 80px 20px #FFFFFF;
  -moz-box-shadow: 1px 2px 80px 20px #FFFFFF;
  box-shadow: 1px 2px 80px 20px #FFFFFF;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}
.style-button:hover {
  border: solid #000000 0;
  background: #FFFFFF;
  background-image: -webkit-linear-gradient(top, #FFFFFF, #000000);
  background-image: -moz-linear-gradient(top, #FFFFFF, #000000);
  background-image: -ms-linear-gradient(top, #FFFFFF, #000000);
  background-image: -o-linear-gradient(top, #FFFFFF, #000000);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
  color: #000000;
  font-family: 'Trirong', serif;
  border-radius: 10px;
}